<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/ficha.style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/ficha.script.js"></script>
</head>
<body>
    <%- include('admin_navigation') %>

    <% if (error) { %>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong><%= error %></strong>
      </div>
    <% } %>


    
    <% if (fichas.length > 0) { %>
      <table>
          <tr>
              <% Object.keys(fichas[0]).forEach(function(clave, index) { %>
                  <% if (index > 0) { %> 
                      <th><%= clave %></th>
                  <% } %>
              <% }); %>
              <th>Acciones</th>
              <th>Aprendices</th>
          </tr>
          <% fichas.forEach(function(ficha) { %>
              <tr>
                  <% let isFirstProperty = true; %>
                  <% Object.entries(ficha).forEach(function([clave, valor], index) { %>
                      <% if (index > 0) { %> 
                          <td><%= valor %></td>
                      <% } %>
                  <% }); %>
                  <td>
                      <button class="btn btn-info" onclick="editarFicha('<%= ficha.idDB %>','<%= ficha.Nombre %>','<%= ficha.id %>','<%= ficha.niveldeformacion %>','<%= ficha.finallectiva %>','<%= ficha.estado %>')">Editar</button>
                      <button class="btn btn-danger" onclick="eliminarFicha('<%= ficha.idDB %>')">Eliminar</button>
                      
                  </td>
                  
                  <td>
                    <button class="btn btn-warning" onclick="verAprendices('<%= ficha.idDB %>','<%= ficha.Nombre %>','<%= ficha.id %>','<%= ficha.niveldeformacion %>','<%= ficha.finallectiva %>','<%= ficha.estado %>')">Ver Aprendices</button>
                    <button class="btn btn-success" onclick="agregarAprendices('<%= ficha.Nombre %>','<%= ficha.idDB %>')">Agregar Aprendices</button>
                    <!-- <form action="getAprendices" method="post">
                      <input type="hidden" name="idFicha" value="<%= ficha.idDB %>">
                      <button>Ver Aprendices</button>
                    </form> -->
                  </td>
                  <!-- <td>
                    <form action="postAprendices" method="post">
                      <input type="hidden" name="idFicha" value="<%= ficha.idDB %>">
                      <button>Agregar Aprendices</button>
                    </form>
                  </td> -->
              </tr>
              
          <% }); %>
      </table>
  <% } else { %>
      <div class="alert alert-dismissible alert-danger">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <strong>No hay fichas disponibles!</strong> Intenta agregando una ficha.
      </div>
  <% } %>

<br>
<div id="add-ficha-container">
  <button onclick="agregarFicha()" class="btn btn-dark">Agregar Aprendices </button>
</div>
      

      <div class="modal" id="modalAgregarAprendices">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tituloAggApr"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/addAprendices" method="post" enctype="multipart/form-data">
                Agrega aprendices
                <input type="text" name="id" id="idhidd" hidden>
                <input type="file" name="excel" id="" accept=".xlsx, .xls">
            </div>
            <div class="modal-footer">
              <button class="btn btn-success">Agregar </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
            </div>
          </div>
        </div>
      </div>



  <div class="modal" id="modalAgregar">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar una ficha</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="aggficha">
            <form action="/addFicha" method="post" class="agregarFicha">
              <div>
                <label for="" class="form-label mt-4">nombre de la ficha</label>
                <input type="text" name="name" id="" class="form-control">
              </div>
              <div>
            <label for="" class="form-label mt-4">nivel de formacion</label>
              <select name="level" id="idDelSelect" class="form-select">
                  <option value="" selected>Seleccione una opción</option>
                  <option value="1">Auxiliar</option>
                  <option value="2">Operario</option>
                  <option value="3">Técnico</option>
                  <option value="4">Tecnólogo</option>
                </select>  
              </div>
              <div>
              <label for="" class="form-label mt-4" >id de la ficha</label>
              <input type="text" name="id" id="" class="form-control">
              </div>  
              <div>
                <label for="" class="form-label mt-4">fin de la etapa lectiva</label>
                <input type="date" name="end" id="finalLectInput" class="form-control">
              </div>

             <label for="" class="form-label mt-4"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Agregar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>

    <div class="modal" id="miModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar La ficha</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
            <form action="/updateFicha" method="post">
                <div>
                    <input type="hidden" name="hidden" id="hidden">
                </div>
                <div>
                    <label for="">nombre de la ficha</label>
                    <input type="text" name="name" id="nombre">
                </div>
             <div>
                <label for="">nivel de formacion</label>
                <select name="level" id="idDelSelectmodal">
                    <option value="" selected>Seleccione una opción</option>
                    <option value="1">Auxiliar</option>
                    <option value="2">Operario</option>
                    <option value="3">Técnico</option>
                    <option value="4">Tecnólogo</option>
                  </select> 
             </div>
             <div>
                <label for="">id de la ficha</label>
                <input type="text" name="id" id="idficha">
             </div> 
              <div>
                <label for="">fin de la etapa lectiva</label>
                <input type="date" name="end" id="finallect">
              </div>
  
            </div>
            <div class="modal-footer">
              <button class="btn btn-info">Actualizar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </form>
          </div>
        </div>
      </div>


      <div class="modal" id="miModalDelete">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ELIMINAR UNA FICHA</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <p>Desea eliminar realmente esa ficha?</p>
            </div>
            <form action="deleteFicha" method="post">
              <input type="hidden" name="hidden" id="hiddenDelete">
              <div class="modal-footer">
                <button class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </form>
          </div>
        </div>
    </div>

    <div class="modal" id="miModalAprendices">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-apr">
          <div class="modal-header" >
            <h5 class="modal-title" id="titulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="titleVer">
            <div class="titulos">
              <h5 id="idfichaver" hidden> </h5>
              <h5 id="estadoModal"></h5>
              <h5 id="idFichaModal"></h5>
              <h5 id="nivelModalficha"></h5>
              <h5 id="finalLectModal"></h5>
            </div>

            <div class="titulosboton">
                <button onclick="eliminarAprendices()" type="button" class="btn btn-danger" id="elminarAprendices">Eliminar Aprendices</button>
            </div>
          </div>
          <div class="modal-body">

            <table id="dataTable">
              <thead class="hola">
                <tr>
                  <th class="col1">Tipo de Documento</th>
                  <th class="col2">Número de Documento</th>
                  <th class="col3">Nombres</th>
                  <th class="col3">Apellidos</th>
                  <th class="col4">Celular</th>
                  <th class="col5">Correo Personal</th>
                  <th class="col6">Estado</th>
                </tr>
              </thead>
              <tbody id="tableBody">
               
              </tbody>
            </table>

          
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
      </div>
  </div>

  <div class="modal" id="modalEliminarAprendices">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminando Aprendices</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <strong>Deseas realmente eliminar los aprendices de esta formacion?</strong>
        </div>
        <div class="modal-footer">
          <form action="/deleteAprendices" method="post">
          <input type="text" name="id" id="idfichaEliminarver" hidden>
          <button class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </form>
        </div>
      </div>
    </div>
  </div>



</body>
</html>